<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   SecretsSample.plist
   Clouds

   Created by Lukas Romsicki on 2020-10-17.
   Copyright (c) 2020 Lukas Romsicki. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
